.git
.gitignore
.cursor
bin
web/node_modules
web/dist
internal/server/dist/*
!internal/server/dist/.gitkeep
**/*_test.go
web/src/**/*.test.ts
web/coverage
*.md
Taskfile.yml
compose.yaml
.env
.env.*
!.env.example
deploy
